# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django cache files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.mo

# Render cache files
.cache/

# Environment variables
.env
.venv
env/
venv/

# Build files
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace