{% extends 'index.html' %}

{% block content %}

<br />
<!-- Lisäyslomakkeen paikka -->
<div id="add-div"></div>
<br />

<h1>Customers</h1>

<a onclick="showaddform()" class="btn btn-primary">Add new customer</a>

{% for customer in customers %}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h3 class="card-title">{{ customer.name }} </h3>
        <h5 class="card-text">Email: {{ customer.email }}</h5>
        <p class="card-text">Phone Number: {{ customer.phone }}</p>
        <p class="card-text">Address: {{ customer.address }}</p>
        <a href="/edit-customer-get/{{ customer.id }}/" class="btn btn-primary">Edit</a>
        <a href="/confirm-delete-customer/{{ customer.id }}/" class="btn btn-danger">Delete</a>
    </div>
</div>

{% empty %}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <p class="card-text">No customers found.</p>
    </div>
</div>

{% endfor %}

<script>

    let y = `
    <h2 style="color: darkorange;">Please fill in form</h2>
    
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <form method="post" action="/add-customer/">
                {% csrf_token %}
                <input class="card-text" type="text" placeholder="Customer Name" name="name">
                <input class="card-text" type="text" placeholder="Email" name="email">
                <input class="card-text" type="text" placeholder="Phone Number" name="phone">
                <input class="card-text" type="text" placeholder="Address" name="address">
                <br/>
                <input type="submit" value="Confirm" class="btn btn-success btn-sm">
                <input type="button" id="hide-btn" class="btn btn-secondary btn-sm" onclick="hideaddform()" value="Cancel">
            </form>
        </div>
    </div>`

    function showaddform() {
        document.getElementById("add-div").innerHTML = y
    }

    function hideaddform() {
        document.getElementById("add-div").innerHTML = ""
    }

</script>

{% endblock %}